<h1 class="mat-display-1">Steam Review Prediction Model</h1>
<mat-divider></mat-divider>
<br/><br/>

<h3 class="mat-title"><i>Click on a game to to evaluate a review against the prediction model for that game</i></h3>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/game/208650']">
      <img class="img-responsive" src='assets/images/batman.jpg'>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/game/570']">
      <img class="img-responsive" src='assets/images/dota2.jpg'>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/game/271590']">
    <img class="img-responsive" src='assets/images/gtaV.jpg'>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/game/275850']">
    <img class="img-responsive" src='assets/images/nomanssky.jpg'>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/game/218620']">
    <img class="img-responsive" src='assets/images/payday2.jpg'>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/game/0']">
    <img class="img-responsive" src='assets/images/steam.jpg'>
    </a>
  </mat-grid-tile>

</mat-grid-list>
<mat-divider></mat-divider>
<br/><br/>

